/* Стилизация кнопки */
.button {
    width: 189px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: #ccc;
    border-radius: 8px;
    color: #FFFFFF;
}
.button_primary {
    background-color: #4263EB;
}
.button_primary:hover {
    background-color: #2342C0;
    border: 1px solid #7048E8;
}
.button_secondary {
    background-color: #7048E8;
}
.button_secondary:hover {
    background-color: #5028C6;
    border: 1px solid #7048E8;
}
.button_alternate {
    background-color: #FFFFFF;
    border: 1px solid #ACB5BD;
    color: #495057;
}
.button_alternate:not(:disabled):hover {
    border: 1px solid black;
}
.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}