/* Стилизация аккордеона */
.accordion {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.accordion:first-child {
    margin-top: 75px;
    
}
.accordion__item {
    max-width: 730px;
    min-height: 72px;
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 8px;
    padding-left: 32px;
    padding-top: 24px;
}
.accordion__text {
    width: 649.31px;
    height: 48px;
    color: #495057;
}